
.head-container{
    width: 100%;
}

/* Displays the title in the center of the header */
.title {
    text-align: center;
}

/* Add search container */
.search-container {
    /* border: solid black 1px; */
    margin-left: 50px;
    display: flex;
    flex-direction: row;
}

/* Make the city panel high enough to append recent searches */
.searchPanel {
    height: 554px;
    width: 250px;
    font-size: 8px;
}

.searchBtn {
    width: 202px;
}

.dataInfo {
    width: 100vh;
    margin-left: 20px;
}

.cityData p {
    padding: 5px;
}

.cityForecast {
    height: 300px;
    display: flex;
    flex-direction: row;
}

.castContainer{
    display: flex;
    flex-direction: row;
    
}

.forecastPanel{
    display: flex;
    flex-direction: row;
}

.forecastCards{
    margin: 1px;
    height: 300px;
}

.forecastCards p {
    padding: 10px 0px;
}