
.head-container{
    width: 100%;
}

/* Displays the title in the center of the header */
.title {
    text-align: center;
}

/* Add search container */
.search-container {
    /* border: solid black 1px; */
    margin-left: 50px;
    display: flex;
    flex-direction: row;
}

/* Make the city panel high enough to append recent searches */
.searchPanel {
    height: 559px;
    width: 300px;
}

.searchBtn {
    width: 250px;
}

.dataInfo {
    width: 100vh;
    margin-left: 20px;
}

.cityForecast {
    height: 300px;
}
