
.head-container{
    width: 100%;
}

/* Displays the title in the center of the header */
.title {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 50px;
}

/* Add search container */
.search-container {
    /* border: solid black 1px; */
    margin-left: 50px;
    display: flex;
    flex-direction: row;
}

/* Make the city panel high enough to append recent searches */
.searchPanel {
    height: 509px;
    width: 250px;
    font-size: 14px !important;
}

.searchBtn {
    border-radius: 0.5rem; 
    background-color: #27476E;
    width: 202px;
}

.recentBtn {
   width: 202px;
   margin-top: 10px;
}

.dataInfo {
    margin-left: 20px;
}


.card-panel{
    background-color: #DFCFBE;
    font-size: 18px;
}

.cityData p {
    padding: 5px;
    font-size: 20 px;
}

.cityForecast {
    height: 300px;
    display: flex;
    flex-direction: row;
}

.castContainer{
    display: flex;
    flex-direction: row;
    
}

.forecastPanel{
    display: flex;
    flex-direction: row;
}

.firstDay{
    margin: 1px;
    height: 270px;
    width: 185px;
}

.firstDay p {
    padding: 10px 0px;
}

.secondDay{
    margin: 1px;
    height: 270px;
    width: 185px;
}

.secondDay p {
    padding: 10px 0px;
}

.thirdDay{
    margin: 1px;
    height: 270px;
    width: 185px;
}

.thirdDay p {
    padding: 10px 0px;
}

.fourthDay{
    margin: 1px;
    height: 270px;
    width: 185px;
}

.fourthDay p {
    padding: 10px 0px;
}

.fifthDay{
    margin: 1px;
    height: 270px;
    width: 185px;
}

.fifthDay p {
    padding: 10px 0px;
}